In [1]:
# This mounts your Google Drive to the Colab VM.
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

FOLDERNAME = 'CS685NLP/Project'
assert FOLDERNAME is not None, "[!] Enter the foldername."

#Now that we've mounted your Drive, this ensures that
# the Python interpreter of the Colab VM can load
# python files from within it.
import sys
sys.path.append('/content/drive/My Drive/{}'.format(FOLDERNAME))

%cd /content/drive/My\ Drive/$FOLDERNAME/

Mounted at /content/drive
/content/drive/My Drive/CS685NLP/Project

In [2]:
import torch

# Confirm that the GPU is detected

assert torch.cuda.is_available()

# Get the GPU device name.
device_name = torch.cuda.get_device_name()
n_gpu = torch.cuda.device_count()
print(f"Found device: {device_name}, n_gpu: {n_gpu}")
device = torch.device("cuda")

Found device: Tesla K80, n_gpu: 1

In [ ]:
from google.colab import files
files.upload()  #this will prompt you to upload the kaggle.json

!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /content/drive/My\ Drive/CS685NLP/Project/kaggle.json  # set permission

!kaggle datasets download yelp-dataset/yelp-dataset -f yelp_academic_dataset_review.json -p /content/drive/My\ Drive/CS685NLP/Project

In [ ]:
from google.colab import files
files.upload()  #this will prompt you to upload the kaggle.json

!pip install -q kaggle
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!ls ~/.kaggle
!chmod 600 /content/drive/My\ Drive/CS685NLP/Project/kaggle.json  # set permission

!kaggle datasets download yelp-dataset/yelp-dataset -f yelp_academic_dataset_business.json -p /content/drive/My\ Drive/CS685NLP/Project

In [ ]:
!unzip -q yelp_academic_dataset_business.json

In [ ]:
!pip install simplejson
!python3 json_to_csv_converter.py yelp_academic_dataset_business.json

Collecting simplejson
  Downloading simplejson-3.17.6-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (130 kB)
     |████████████████████████████████| 130 kB 4.9 MB/s
Installing collected packages: simplejson
Successfully installed simplejson-3.17.6
json_to_csv_converter.py:47: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  if isinstance(v, collections.MutableMapping):
Traceback (most recent call last):
  File "json_to_csv_converter.py", line 114, in <module>
    read_and_write_file(json_file, csv_file, column_names)
  File "json_to_csv_converter.py", line 19, in read_and_write_file
    csv_file.writerow(get_row(line_contents, column_names))
  File "json_to_csv_converter.py", line 85, in get_row
    column_name,
  File "json_to_csv_converter.py", line 77, in get_nested_value
    return get_nested_value(sub_dict, sub_key)
  File "json_to_csv_converter.py", line 70, in get_nested_value
    if key not in d:
TypeError: argument of type 'NoneType' is not iterable

In [ ]:
!python3 json_to_csv_converter.py yelp_academic_dataset_business.json

shell-init: error retrieving current directory: getcwd: cannot access parent directories: No such file or directory
json_to_csv_converter.py:47: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working
  if isinstance(v, collections.MutableMapping):
Traceback (most recent call last):
  File "json_to_csv_converter.py", line 28, in get_superset_of_column_names_from_file
    set(get_column_names(line_contents).keys())
  File "json_to_csv_converter.py", line 49, in get_column_names
    get_column_names(v, column_name).items()
  File "json_to_csv_converter.py", line 47, in get_column_names
    if isinstance(v, collections.MutableMapping):
  File "/usr/lib/python3.7/abc.py", line 139, in __instancecheck__
    return _abc_instancecheck(cls, instance)
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "json_to_csv_converter.py", line 113, in <module>
    column_names = get_superset_of_column_names_from_file(json_file)
  File "json_to_csv_converter.py", line 28, in get_superset_of_column_names_from_file
    set(get_column_names(line_contents).keys())
KeyboardInterrupt

In [ ]:
import json
import pandas as pd
data_file = open("yelp_academic_dataset_business.json")
data = []
for line in data_file:
  data.append(json.loads(line))
business_df = pd.DataFrame(data)
data_file.close()

In [ ]:
business_df.shape

(160585, 14)

In [ ]:
business_df.head()

              business_id  ...                                              hours
0  6iYb2HFDywm3zjuRg0shjw  ...  {'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...
1  tCbdrRPZA0oiIYSmHG3J0w  ...  {'Monday': '5:0-18:0', 'Tuesday': '5:0-17:0', ...
2  bvN78flM8NLprQ1a1y5dRg  ...  {'Thursday': '11:0-18:0', 'Friday': '11:0-18:0...
3  oaepsyvc0J17qwi8cfrOWg  ...                                               None
4  PE9uqAjdw0E4-8mjGl3wVA  ...  {'Monday': '16:0-19:0', 'Tuesday': '16:0-19:0'...

[5 rows x 14 columns]

In [ ]:
df_rest = pd.DataFrame([], columns = business_df.columns)
df_rest.head()

for index, row in business_df.iterrows():
  print(index)
  if row.categories!= None:
    splitted = row.categories.split(',')
    if 'Restaurants' in splitted:
      df_rest.loc[len(df_rest.index)] = row
  else:
      continue
print(df_rest.shape)

In [ ]:
id_list = list(df_rest['business_id'])

In [ ]:
len(id_list)

14423

In [ ]:
textfile = open("yelp_rest_business_ids.txt", "w")
for element in id_list:
    textfile.write(element + "\n")
textfile.close()

In [ ]:
df_hot = pd.DataFrame([], columns = business_df.columns)
df_hot.head()

for index, row in business_df.iterrows():
  print(index)
  if row.categories!= None:
    splitted = row.categories.split(',')
    if 'Hotels' in splitted or 'Hotels & Travel' in splitted:
      print(index)
      df_hot.loc[len(df_hot.index)] = row
  else:
      continue
print(df_hot.shape)

In [ ]:
print(df_hot.shape)

(2240, 14)

In [ ]:
id_list = list(df_hot['business_id'].unique())
len(id_list)

2240

In [ ]:
textfile = open("yelp_hot_business_ids.txt", "w")
for element in id_list:
    textfile.write(element + "\n")
textfile.close()

In [ ]:
ids = pd.read_csv('yelp_hot_business_ids.txt', sep="\n", header=None)
ids_list = ids[0].tolist()

len(ids_list)

path_dataset = '/content/drive/MyDrive/CS685NLP/Project/'

df = pd.read_csv(path_dataset+'yelp_academic_dataset_review.csv')

df_1M = df[0:1000000]

df_hot = pd.DataFrame([], columns = df_1M.columns)
df_hot.head()

for index, row in df_1M.iterrows():
  # if row.business_id!= None:
  if row.business_id[2:-1] in ids_list:
    print(index)
    df_hot.loc[len(df_hot.index)] = row
  else:
    continue
print(df_hot.shape)

df_hot.to_csv('yelp_hot_from_1M.csv')

In [ ]:
print(df_hot.shape)

(14473, 9)

In [5]:
import pandas as pd
quality_df = pd.read_csv('arg_quality_rank_30k.csv')

In [10]:
quality_df[quality_df['set']=='test'].shape

(6315, 7)